.planet-details {
    width: 100%;
    height: 100vh;
    background-size: contain; /* Ensures the image fits within the screen */
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-position: center;
    animation: fadeIn 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .planet-info {
    color: white;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Adds a semi-transparent background for readability */
    border-radius: 10px;
    text-shadow: 0 0 10px black;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  mat-toolbar {
    /* Space-like gradient background */
    background: linear-gradient(45deg, #090909, #060708);
    
    /* Add a starry effect using a repeating background image */
    background-size: cover;

    /* Slight transparency to blend with the theme */
    opacity: 0.9;

    /* Text styling */
    color: white;
    font-family: 'Arial', sans-serif;
    font-weight: bold;

    /* Subtle glowing effect */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);

    /* Border to give a futuristic look */
    border-bottom: 2px solid #ffeb3b;

    /* Adjust padding */
    padding: 10px 20px;

    /* Rounded corners for a modern touch */
    border-radius: 0px 0px 10px 10px;
}


